.Kindred {
  width: 100%;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (min-width: 500px) and (max-height: 400px) {
  .Kindred {
    width: 350px;
    /* height: 300px; */
  }
}
@media (min-width: 500px) and (min-height: 401px) {
  .Kindred {
    width: 450px;
    /* height: 400px; */
  }
}
@media (min-width: 900px) and (min-height: 500px) {
  .Kindred {
    width: 700px;
    /* height: 600px; */
  }
}
