.BuildControlsWrapper{
    width :  100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;

}
.BuildControlsContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-auto-flow: column;
    text-align: center;
}
.BuildControlsContainer > :nth-child(n){
    width: 33vw;
}

.SaveButton {
    line-height: 40px;
    background: #000000;
    color: #ccc;
    border: 1px solid #ccc;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;

    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
}

.SaveButton:hover, .OrderButton:active {

    border: 1px solid #AA3939;
    color: #AA3939;

}

.SaveButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.SaveButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}