.BuildControlsWrapper{
    width :  100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;

}
.BuildControlsContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-auto-flow: column;
}
.BuildControlsContainer > :nth-child(n){
    width: 33vw;
}
/* .BuildControlsContainer > :nth-child(-n+3) {
    background: Aqua
} */

/* .BuildControlsContainer > div:not(:nth-child(3n+4)):not(:nth-child(3n+5)):not(:nth-child(3n+6)) {
    background-color: #eee;
}

.BuildControlsContainer > div:not(:nth-child(-3n+4)):not(:nth-child(-3n+5)):not(:nth-child(-3n+6)) {
    background-color: red;
} */

/* .BuildControlsContainer > div:nth-child(n+4) {background: Red}
.BuildControlsContainer > div:nth-child(+n+7) {background: blue} */


.SaveButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
}

.SaveButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.SaveButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.SaveButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}