.SavedData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}
.SavedData form {
  display: flex;
  align-items: center;
  flex-flow: column;
}
@media (min-width: 600px) {
  .SavedData {
    width: 500px;
  }
}
